In [1]:
from sklearn.model_selection import train_test_split
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.preprocessing import OrdinalEncoder
import matplotlib.pyplot as plt
from sklearn.metrics import *
import seaborn as sns

In [2]:
df = pd.read_csv('D://OneDrive//Yousaf Saeed//CICBellEXFDNS2021//Attack_heavy_Benign - Copy//Dataset-stateless_attack_heavyAll.csv', header=0)

In [3]:
df

,timestamp,FQDN_count,subdomain_length,upper,lower,numeric,entropy,special,labels,labels_max,labels_average,longest_word,sld,len,subdomain,Class
0,52:31.2,25,8,0,10,9,2.556642,6,6,7,3.333333,2,192,12,1,1
1,52:31.7,25,8,0,10,9,2.556642,6,6,7,3.333333,2,192,12,1,1
2,52:31.9,15,0,11,0,3,3.625000,1,1,15,15.000000,C,DESKTOP-3JF04TC,16,0,1
3,52:32.1,24,7,0,10,8,2.054029,6,6,7,3.166667,4,224,11,1,1
4,52:32.5,24,7,0,10,8,2.054029,6,6,7,3.166667,4,224,11,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433359,53:18.0,26,9,0,10,10,2.742338,6,6,7,3.500000,2,192,13,1,0
433360,53:18.4,27,10,0,10,11,2.767195,6,6,7,3.666667,2,192,14,1,0
433361,53:18.8,27,10,0,10,11,2.767195,6,6,7,3.666667,2,192,14,1,0
433362,53:20.1,24,7,0,10,8,2.054029,6,6,7,3.166667,4,224,11,1,0
433363,53:20.5,24,7,0,10,8,2.054029,6,6,7,3.166667,4,224,11,1,0

In [4]:
df.head()

,timestamp,FQDN_count,subdomain_length,upper,lower,numeric,entropy,special,labels,labels_max,labels_average,longest_word,sld,len,subdomain,Class
0,52:31.2,25,8,0,10,9,2.556642,6,6,7,3.333333,2,192,12,1,1
1,52:31.7,25,8,0,10,9,2.556642,6,6,7,3.333333,2,192,12,1,1
2,52:31.9,15,0,11,0,3,3.625000,1,1,15,15.000000,C,DESKTOP-3JF04TC,16,0,1
3,52:32.1,24,7,0,10,8,2.054029,6,6,7,3.166667,4,224,11,1,1
4,52:32.5,24,7,0,10,8,2.054029,6,6,7,3.166667,4,224,11,1,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433364 entries, 0 to 433363
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   timestamp         433364 non-null  object
 1   FQDN_count        433364 non-null  int64
 2   subdomain_length  433364 non-null  int64
 3   upper             433364 non-null  int64
 4   lower             433364 non-null  int64
 5   numeric           433364 non-null  int64
 6   entropy           433364 non-null  float64
 7   special           433364 non-null  int64
 8   labels            433364 non-null  int64
 9   labels_max        433364 non-null  int64
 10  labels_average    433364 non-null  float64
 11  longest_word      433354 non-null  object
 12  sld               433364 non-null  object
 13  len               433364 non-null  int64
 14  subdomain         433364 non-null  int64
 15  Class             433364 non-null  int64
dtypes: float64(2), int64(11), object(3)
memory usage: 52.9+ MB

In [6]:
cat_cols=['timestamp','longest_word','sld']

In [7]:
encoder = OrdinalEncoder()

In [8]:
pd.options.mode.chained_assignment = None

In [9]:
def encode(data):
    '''function to encode non-null data and replace it in the original data'''
    #retains only non-null values
    nonulls = np.array(data.dropna())
    #reshapes the data for encoding
    impute_reshape = nonulls.reshape(-1,1)
    #encode date
    impute_ordinal = encoder.fit_transform(impute_reshape)
    #Assign back encoded values to non-null values
    data.loc[data.notnull()] = np.squeeze(impute_ordinal)
    return data
#create a for loop to iterate through each column in the data
for columns in cat_cols:
    encode(df[columns])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433364 entries, 0 to 433363
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   timestamp         433364 non-null  float64
 1   FQDN_count        433364 non-null  int64
 2   subdomain_length  433364 non-null  int64
 3   upper             433364 non-null  int64
 4   lower             433364 non-null  int64
 5   numeric           433364 non-null  int64
 6   entropy           433364 non-null  float64
 7   special           433364 non-null  int64
 8   labels            433364 non-null  int64
 9   labels_max        433364 non-null  int64
 10  labels_average    433364 non-null  float64
 11  longest_word      433354 non-null  object
 12  sld               433364 non-null  float64
 13  len               433364 non-null  int64
 14  subdomain         433364 non-null  int64
 15  Class             433364 non-null  int64
dtypes: float64(4), int64(11), object(1)
memory usage: 52.9+ MB

In [11]:
df=df.dropna()

In [12]:
X=df.loc[1:,:'subdomain']
y=df.loc[1:,'Class']

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42)

In [14]:
encode(df)

KeyError: "None of [Index([                                   ('t', 'i', 'm', 'e', 's', 't', 'a', 'm', 'p'),\n                                     ('F', 'Q', 'D', 'N', '_', 'c', 'o', 'u', 'n', 't'),\n       ('s', 'u', 'b', 'd', 'o', 'm', 'a', 'i', 'n', '_', 'l', 'e', 'n', 'g', 't', 'h'),\n                                                              ('u', 'p', 'p', 'e', 'r'),\n                                                              ('l', 'o', 'w', 'e', 'r'),\n                                                    ('n', 'u', 'm', 'e', 'r', 'i', 'c'),\n                                                    ('e', 'n', 't', 'r', 'o', 'p', 'y'),\n                                                    ('s', 'p', 'e', 'c', 'i', 'a', 'l'),\n                                                         ('l', 'a', 'b', 'e', 'l', 's'),\n                                     ('l', 'a', 'b', 'e', 'l', 's', '_', 'm', 'a', 'x'),\n                 ('l', 'a', 'b', 'e', 'l', 's', '_', 'a', 'v', 'e', 'r', 'a', 'g', 'e'),\n                           ('l', 'o', 'n', 'g', 'e', 's', 't', '_', 'w', 'o', 'r', 'd'),\n                                                                        ('s', 'l', 'd'),\n                                                                        ('l', 'e', 'n'),\n                                          ('s', 'u', 'b', 'd', 'o', 'm', 'a', 'i', 'n'),\n                                                              ('C', 'l', 'a', 's', 's')],\n      dtype='object')] are in the [index]"

In [15]:
df

,timestamp,FQDN_count,subdomain_length,upper,lower,numeric,entropy,special,labels,labels_max,labels_average,longest_word,sld,len,subdomain,Class
0,31504.0,25,8,0,10,9,2.556642,6,6,7,3.333333,2,110.0,12,1,1
1,31509.0,25,8,0,10,9,2.556642,6,6,7,3.333333,2,110.0,12,1,1
2,31511.0,15,0,11,0,3,3.625000,1,1,15,15.000000,11,467.0,16,0,1
3,31513.0,24,7,0,10,8,2.054029,6,6,7,3.166667,4,178.0,11,1,1
4,31517.0,24,7,0,10,8,2.054029,6,6,7,3.166667,4,178.0,11,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433359,31972.0,26,9,0,10,10,2.742338,6,6,7,3.500000,2,110.0,13,1,0
433360,31976.0,27,10,0,10,11,2.767195,6,6,7,3.666667,2,110.0,14,1,0
433361,31980.0,27,10,0,10,11,2.767195,6,6,7,3.666667,2,110.0,14,1,0
433362,31993.0,24,7,0,10,8,2.054029,6,6,7,3.166667,4,178.0,11,1,0
433363,31997.0,24,7,0,10,8,2.054029,6,6,7,3.166667,4,178.0,11,1,0

In [16]:
df.to_csv('Dataset-stateless_attack_heavyAllProcessed.csv')